/************************************************************************
Base styles
************************************************************************/
* {
    box-sizing: border-box;
    font-size: 62.5%;
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.6rem;
}
p {
    font-size: 1.5rem;
}
input {
    text-align: center;
}
label {
    display: inline-block;
}

/*******************************************************************
Utility classes
*******************************************************************/
* {
    /* border: 3px solid green !important; */
    background: rgb(239, 239, 239);
}


.container {
    display: flex;
    margin-top: 5rem;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;

    --margin-small: 0.25rem;
    --margin-medium: 2rem;
    --margin-large: 4rem;
}
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-item {
    margin: var(--margin-small);
}
.button {
    margin-top: var(--margin-small);
    padding: 0.5rem 1rem;
}

/****************************************************
 Responses and history
****************************************************/
.responses {
    margin-top: var(--margin-large);
    width: inherit;
}
.history-title {
    align-self: center;
}
.response-title {
    font-weight: bold;
}
.history-item {
    background-color: rgb(227, 227, 227);
    align-self: stretch;
    margin: 1rem;
}